.neon-online {
    color: yellowgreen;
    text-shadow:
      0 0 5px rgb(8, 201, 95),
      0 0 10px rgb(8, 201, 95),
      0 0 20px rgb(8, 201, 95),
      0 0 40px rgb(8, 201, 95),
      0 0 80px rgb(8, 201, 95),
      0 0 90px rgb(8, 201, 95),
      0 0 100px rgb(8, 201, 95),
      0 0 150px rgb(8, 201, 95);
  }
  
  .neon-offline {
    color:chartreuse;
    text-shadow:
    0 0 5px rgb(12, 192, 216),
    0 0 10px rgb(12, 192, 216),
    0 0 20px rgb(7, 241, 210),
    0 0 40px rgb(7, 241, 210),
    0 0 80px rgb(7, 241, 210),
    0 0 90px rgb(7, 241, 210),
    0 0 100px rgb(7, 241, 210),
    0 0 150px rgb(12, 192, 216),
  }
    
  .div-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
